.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}
.App-title {
  font-size: 1.5em;
  margin: 0px;
}
.App-intro {
  font-size: large;
}
.input-container {
  margin-top: 20px;
  line-height: 1.5;
}
.input-title {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}
.username-input {
  padding: 4px 20px 4px 5px;
  border: 1px solid;
  border-radius: 4px;
}
.custom-button {
  padding: 3px 10px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 12px;
  color: black;
}
.tweet-container {
  width: 50%;
  margin: 30px auto;
  padding: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.output-container {
  margin-top: 15px;
}
.user-title {
  display: block;
  text-align: left;
  width: 60%;
  margin: 0px auto;
}
.fa-quote-left {
  padding-right: 3px;
}
.load-sign {
  margin-left: 10px;
}
